<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>DRainbow MCC</title>

    {% block styles %}
    {% assets "bs_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% assets "main_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

    <style>
        .margin-bottom {
            margin-bottom:20px;
        }

        #footer {
            border-top-style:double;
            border-width: 3px;
        }
    </style>
    {% endblock %}


</head>
<body>
<nav class="navbar navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">
        <img src="/static/Drainbow.png" style="max-height:40px" href="/" alt="DOUBLE RAINBOW">
        MISSION CONTROL CENTRE
    </a>
</nav>
<div class="container-fluid min-height-100vh under-header">
    {% block content %}{% endblock %}

    <div id="footer" class="row" style="text-align:right">
        <div class="col">
            <p>Made on Earth by Granum. 2018.</p>
            <p>Vasilly.Prokopyev, IngaCansat, volospolina, Kirs67</p>
            <p><a href="https://github.com/granum-space/">Team github</a></p>
        </div>
    </div>
</div>


{% block js %}
{% assets "jq_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "bs_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}

</body>
</html>




