{% extends "basic.html" %}

{% block content %}
    <div class="row h-100 center-block">
        <div class="col-xl-12 text-center">
            <h1>PLOTS</h1>
        </div>
    </div>

    <div class="row h-100 center-block">
        <div class="col-xl-6 text-center">
            <canvas id="acc-plot-canvas"></canvas>
        </div>
        <div class="col-xl-6 text-center">
            <canvas id="gyro-plot-canvas"></canvas>
        </div>
    </div>

    <dev class="row h-100 center-block">
        <div class="col-xl-6 text-center">
            <canvas id="temperature-plot-canvas"></canvas>
        </div>
    </div>
{% endblock %}




{% block js %}
{{ super() }}

{% assets "chart_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets "mcc_charts" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}


<script type="text/javascript">

$(document).ready(function(){
    var charts = [{
        name: "acc",
        datasets:
        [
            {
                "label": "Ускорения по X (mg/s)",
                "fill": false,
                "pointRadius": 0,
                "borderColor": "#f44242",
                "borderWidth": 2,
                "lineTension": 0,
                "data": [],
            },
            {
                "label": "Ускорения по Y (mg/s)",
                "fill": false,
                "pointRadius": 0,
                "borderColor": "#15ff00",
                "borderWidth": 2,
                "lineTension": 0,
                "data": [],
            },
            {
                "label": "Ускорения по Z (mg/s)",
                "fill": false,
                "pointRadius": 0,
                "borderColor": "#001dff",
                "borderWidth": 2,
                "lineTension": 0,
                "data": [],
            },
        ]
    },{
        name: "gyro",
        datasets:
        [
            {
                "label": "Угловая скорость по X (mdeg/s)",
                "fill": false,
                "pointRadius": 0,
                "borderColor": "#f44242",
                "borderWidth": 2,
                "lineTension": 0,
                "data": [],
            },
            {
                "label": "Угловая скорость по Y (mdeg/s)",
                "fill": false,
                "pointRadius": 0,
                "borderColor": "#15ff00",
                "borderWidth": 2,
                "lineTension": 0,
                "data": [],
            },
            {
                "label": "Угловая скорость по Z (mdeg/s)",
                "fill": false,
                "pointRadius": 0,
                "borderColor": "#001dff",
                "borderWidth": 2,
                "lineTension": 0,
                "data": [],
            },

        ]
    },{
        name: "temperature",
        datasets:
        [
            {
                "label": "Температура по датчику MPU6000 (degC)",
                "fill": false,
                "pointRadius": 0,
                "borderColor": "#f44242",
                "borderWidth": 2,
                "lineTension": 0,
                "data": [],
            },
        ]
    }];

    updatePeriodMs = {{ config["PLOT_DATA_UPDATE_PERIOD_MS"] }}
    plotDataUrl = "{{ url_for(".plot_data") }}"

    mccChartsMain(charts, updatePeriodMs, plotDataUrl );
})

</script>
{% endblock %}
