[Unit]
Description = granum team double rainbow mcc soundhub component
After = network.target

[Service]
Type=simple
Environment="PYTHONPATH=/opt/drainbow_mcc/app"
Environment="MAVLINK20=True"
Environment="MAVLINK_DIALECT=granum"
Environment="DRAINBOW_MCC_CONFIG=drainbow_mcc.configs.prod"
ExecStart=/opt/drainbow_mcc/venv/bin/python -m drainbow_mcc.soundhub

[Install]
WantedBy=multi-user.target
