[submodule "src/board/omnibus/nuttx"]
	path = src/board/omnibus/nuttx
	url = https://github.com/cansat-rsce/nuttx.git
[submodule "src/common/mavlink/pymavlink"]
	path = src/common/mavlink/pymavlink
	url = https://github.com/cansat-rsce/pymavlink.git
