[Unit]
Description = granum team double rainbow mcc mavlink component
After = network.target redis-server.service

[Service]
Type=simple
Environment="PYTHONPATH=/opt/drainbow_mcc/app"
Environment="FLASK_APP=drainbow_mcc.webapp"
Environment="MAVLINK20=True"
Environment="MAVLINK_DIALECT=granum"
Environment="DRAINBOW_MCC_CONFIG=drainbow_mcc.configs.prod"
ExecStart=/opt/drainbow_mcc/venv/bin/python -m drainbow_mcc.mavlinkapp

[Install]
WantedBy=multi-user.target
