click==6.7
Flask==0.12.2
Flask-Assets==0.12
Flask-SQLAlchemy==2.3.2
future==0.16.0
itsdangerous==0.24
Jinja2==2.10
libsass==0.14.2
lxml==4.2.1
MarkupSafe==1.0
psycopg2-binary==2.7.4
pymavlink==2.2.8
six==1.11.0
SQLAlchemy==1.2.6
webassets==0.12.1
Werkzeug==0.14.1
