click==6.7
Flask==0.12.2
Flask-Assets==0.12
Flask-Redis==0.3.0
future==0.16.0
itsdangerous==0.24
Jinja2==2.10
libsass==0.14.2
lxml==4.2.1
MarkupSafe==1.0
pymavlink==2.2.8
redis==2.10.6
six==1.11.0
webassets==0.12.1
Werkzeug==0.14.1
