#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config GRANUM_LUMEN
	bool "lumen test"
	default n
	---help---
		Enable the lumen example

# if GRANUM_LUMEN
# endif # GRANUM_LUMEN