#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config GRANUM_SONAR
	bool "sonar test"
	default n
	---help---
		Enable the sonar example

# if GRANUM_SONAR
# endif # GRANUM_SONAR