[Unit]
Description=My service
After=network.target

[Service]
Environment="MAVLINK20=True"
Environment="MAVLINK_DIALECT=granum"
Environment="PYTHONPATH=/home/pi/testing/src/"
ExecStart=/home/pi/testing/venv/bin/python -m am2320 
WorkingDirectory=/home/pi/testing/src/am2320 
User=pi

[Install]
WantedBy=multi-user.target
