[Unit]
Description=My service

[Service]
Type=simple
ExecStart=/opt/launch/config_camera.sh   
User=pi
WorkingDirectory=/opt/launch/            

[Install]
WantedBy=multi-user.target

